*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: consolas;
}

body{
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	background: url("https://wallpaperaccess.com/full/439751.jpg");
	background-size: cover;
	background-position: center;
 
}


.container{
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 40px 0;
	flex-wrap: wrap;
}

.container .box{
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 320px;
	height: 400px;
	background: #111;
	color: #fff;
	margin: 30px 20px ;
	transition: 0.5s;
}


.container .box:hover{
	transform: translateY(-40px);
}

.container .box::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background:  linear-gradient(45deg,#ffbc00,#ff0058);
}


.container .box::after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background:  linear-gradient(45deg,#ffbc00,#ff0058);
	filter: blur(30px);
}

.container .box:nth-child(2)::before,
.container .box:nth-child(2)::after
{
	background: linear-gradient(315deg,#03a9f4,#ff0058);
}

.container .box:nth-child(3)::before,
.container .box:nth-child(3)::after
{
	background: linear-gradient(315deg,#03a9f4,#00d0ff);
}

.container .box:nth-child(4)::before,
.container .box:nth-child(4)::after
{
	background: linear-gradient(315deg,#1e9600, #fff200, #ff0000);
}


.container .box span{
	position: absolute;
	top: 6px ;
	right: 6px ;
	left: 6px ;
	bottom: 6px;
	z-index: 2;
	background: rgba(0,0,0,0.6);
}

.container .box span::before{
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 50%;
	height: 100%;
	background:  rgba(255,255,255,0.1);
	point-events: none;
}

.container .box .content{
	position: relative;
	z-index: 10;
	padding: 20px 40px;
}

.container .box .content h2{
	font-size: 2.5em;
	color: #fff;
	margin-bottom: 10px;
}

.container .box .content p{
	font-size: 2em;
	color: #fff;
	margin-bottom: 10px;
	line-height: 2em;
}

.container .box .content a{
	font-size: 1.5em;
	color: #111;
	margin-bottom: 10px;
	display: inline-block;
	padding: 10px;
	text-decoration: none;
	font-weight: 700;
	background: #fff;
	color: red;
}
